body {
	margin: 0;
	padding: 0;
}

ol,
ul {
    list-style: none;
	padding-left: 0;
}

a {
    text-decoration: none;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

@font-face {
	font-family: Inter;
	src:url("../fonts/Inter-Regular.ttf");
}

h1,h2,h3,h4,h5,h6,p,a {
	font-family: Inter;
}