/* iCielTungstenNarrow */
@font-face {
  font-family: "iCielTungstenNarrow-Regular";
  src: url("../fonts/Document fonts/Document fonts/iCielTungstenNarrow-Book.otf");
}

@font-face {
  font-family: "iCielTungstenNarrow-Medium";
  src: url("../fonts/Document fonts/Document fonts/iCielTungstenNarrow-Medium.otf");
}

@font-face {
  font-family: "iCielTungstenNarrow-Semibold";
  src: url("../fonts/Document fonts/Document fonts/iCielTungstenNarrow-Semibold.otf");
}

@font-face {
  font-family: "SVN-Helvetica";
  src: url("../fonts/Document fonts/Document fonts/SVN-Helvetica Neue Bold.ttf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@media (max-width: 991px) {
  html {
    scroll-padding-top: calc(100px + 4.2vw);
  }
}
/* ---- Back to top ---- */
.btn-back-to-top {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: center no-repeat url("../images/menu/btn-backtotop.png");
  background-size: 80%;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;

  transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
}

.show-btn {
  opacity: 1;
  visibility: visible;
}

/* ---- Start Menu ---- */
/* ---- Start Menu ---- */
/* ---- Start Menu ---- */
.hamburger-icon {
  padding: 5px;
  cursor: pointer;
  display: inline-block;

  position: fixed;
  top: 0;
  right: 15px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s ease 500ms 1 normal forwards;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #b79a6c;
  margin: 7px 0;
  transform-origin: left center;

  -webkit-transition: -webkit-transform 250ms ease;
  -moz-transition: -moz-transform 250ms ease;
  transition: transform 250ms ease;
}

.header-side {
  position: fixed;
  width: 470px;
  height: 100%;
  top: 0;
  right: -100%;
  z-index: 15;

  background-color: #101726;

  transition: right 750ms ease-in;
  -webkit-transition: right 750ms ease-in;
  -moz-transition: right 750ms ease-in;
}

.lf-header-menu {
  --font-header-01: "SVN-Helvetica";
  --font-header-02: "SVN-Helvetica";
  --font-header-03: "SVN-Helvetica";
}
/* 
  .lf-header-menu div,
  .lf-header-menu a {
    font-family: "Tungsten";
  } */

.open-menu {
  right: 0;

  transition: right 750ms ease;
  -webkit-transition: right 750ms ease;
  -moz-transition: right 750ms ease;
}

.header-side__wrap {
  padding: 0 46px 10px 66px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* width */
.header-side__wrap::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.header-side__wrap::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.header-side__wrap::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.header-side__wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-side a {
  transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
}

.header-side a:hover {
  opacity: 0.8;
}

.header-side__logo {
  flex: 1;
}

.header-side__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.header-side__close-box {
  /* position: absolute;
        top: 30px;
        right: 30px; */
  padding: 15px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

a.header-side__icon {
  display: inline-block;

  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;

  transition: transform 350ms ease;
  -webkit-transition: transform 350ms ease;
  -moz-transition: transform 350ms ease;
}

.header-side__icon:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.header-side__icon span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #b79a6c;
}

.header-side__icon span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.header-side__icon span:nth-child(2) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.header-side__wrap {
  padding: 0 30px 10px 30px;
}

.lf-header-nav__list li {
  display: block;
}

.lf-header-nav__list a,
.lf-header-menu__mb-nav li a {
  font-family: var(--font-header-02);
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-weight: 500;
}

.lf-header-menu__mb {
  background: #0c2231;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  z-index: 10;
}

.lf-header-menu__mb-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.lf-header-menu__mb-nav li a {
  font-size: calc(1px + 2vw);
  text-align: center;
  display: inline-block;
}

.sub-menu {
  -webkit-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  transition: all 350ms ease;
}

.sub-menu .sub-menu,
.sub-menu .sub-menu .sub-menu {
  margin-left: 12px;
}

.menu-item a {
  position: relative;
  letter-spacing: -0.5px;
}

.menu-item-lv-1 {
  border-top: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
}

.menu-item-lv-1 > .sub-menu {
  margin-left: 15px;
}

.menu-item-lv-1 > a,
.menu-item-lv-2 > a,
.lf-header-nav__title,
.lf-header-menu__mb-nav li a {
  color: transparent;
  background: -webkit-linear-gradient(93.04deg, #c9ab7c 19.81%, #ead7a3 74.09%);
  background: -ms-linear-gradient(93.04deg, #c9ab7c 19.81%, #ead7a3 74.09%);
  background: linear-gradient(93.04deg, #c9ab7c 19.81%, #ead7a3 74.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
}

.menu-item-lv-1 > a {
  font-size: 21px;
  line-height: 1.2;
  padding: 15px;
  position: relative;
  padding-right: 35px;
}

.menu-item-lv-2 > a {
  font-size: 17px;
  line-height: 1.2;
  /* padding: 10px 0; */
}

.menu-item-lv-3 > a {
  font-size: 15px;
  line-height: 1.2;
  padding: 10px 0;
}

.menu-item-lv-4 > a {
  font-size: 15px;
  line-height: 1.2;
  padding: 10px 0;
  text-transform: initial;
  color: #a5a5a5;
  font-family: var(--font-header-01);
  font-weight: 400;
}

.menu-item-lv-4 > a::before {
  /* content: "•"; */
  content: "";
  margin-right: 7px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor;
  vertical-align: middle;
}

.sub-menu .menu-item-lv-3 > a {
  display: inline-block;
  margin-right: 30px;
}

.lf-menu-drop {
  display: inline-block;
  background-color: transparent;
  border-color: transparent;
  background-image: url("../images/menu/menu-sidebar-arrow-white.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: -40px;
}

.menu-item-lv-1 > a .lf-menu-drop,
.menu-item-lv-2 > a .lf-menu-drop {
  background-image: url("../images/menu/menu-sidebar-arrow.png");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 8px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  transition: all 350ms ease;
}

.menu-item-lv-1.drop-sub-menu > a .lf-menu-drop,
.menu-item-lv-2.drop-sub-menu > a .lf-menu-drop {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu-item:not(.menu-item-lv-1, .menu-item-lv-2) > a .lf-menu-drop {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  transition: all 350ms ease;
}

.menu-item.drop-sub-menu:not(.menu-item-lv-1, .menu-item-lv-2)
  > a
  .lf-menu-drop {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.menu-item-lv-2 > a .lf-menu-drop {
  display: none;
}

.menu-item-lv-1 > .sub-menu,
.menu-item-lv-3 > .sub-menu {
  display: none;
}

.only-sub-menu li a {
  color: #fff;
  background: none !important;
  -webkit-text-fill-color: initial;
  padding: 10px 0;
}

.lf-header-nav__title {
  display: none;
  font-family: var(--font-header-03);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.2;
  padding-bottom: 10px;
  position: relative;
}

.lf-header-nav__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(to bottom left, #af823f, #e1b26a);
  background-image: -ms-linear-gradient(to bottom left, #af823f, #e1b26a);
  background-image: linear-gradient(to bottom left, #af823f, #e1b26a);
}

.bg-opacity-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 13;

  opacity: 0;
  visibility: hidden;

  transition: all 750ms ease-in;
  -webkit-transition: all 750ms ease-in;
  -moz-transition: all 750ms ease-in;
}

.bg-opacity-dark.visible {
  opacity: 1;
  visibility: visible;
}

.text-opacity {
  opacity: 0.5;
}

@media (min-width: 992px) {
  .header-side {
    right: 0;
    width: 100%;
    height: auto;
  }

  .lf-header-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .menu-item-lv-1 > a .lf-menu-drop {
    display: none;
  }

  .header-side__close-box,
  .header-side__logo {
    display: none;
  }

  .menu-item-lv-1 {
    border-top: none;
    border-bottom: none;
  }

  .lf-header-nav__title {
    display: block;
  }

  .lf-header-nav {
    max-width: 1340px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  .header-side__wrap {
    padding: 15px 0 5px;
  }

  .menu-item-lv-1 > a {
    padding: 15px 0;
  }

  .lf-header-nav__list a {
    font-family: var(--font-header-03);
  }

  .menu-item-lv-1 > a {
    font-size: 21px;
  }

  .menu-item-lv-2 > a {
    font-size: 17px;
  }

  .menu-item-lv-2 > .sub-menu {
    display: none;
  }

  .menu-item-lv-3 > a,
  .menu-item-lv-4 > a {
    font-size: 15px;
  }
  .menu-item-lv-1 {
    position: relative;
    display: inline-block;
  }

  .menu-item-lv-1 > .sub-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    transition: all 450ms ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    /* min-width: max-content; */
    white-space: nowrap;
    background-color: #101726;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
    max-height: calc(100vh - 117px);
    overflow-y: auto;
  }

  /* width */
  .menu-item-lv-1 > .sub-menu::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .menu-item-lv-1 > .sub-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .menu-item-lv-1 > .sub-menu::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .menu-item-lv-1 > .sub-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .menu-item-lv-1:hover > .sub-menu {
    max-height: calc(90vh - 117px);
    visibility: visible;
    opacity: 1;
  }

  .header-side__wrap {
    overflow-y: visible;
  }

  .menu-item-lv-1:last-child > .sub-menu {
    left: initial;
    right: 0;
  }

  .menu-item-lv-2 > a {
    padding: 10px 0;
    padding-right: 40px;
  }

  .menu-item-lv-2 > a .lf-menu-drop {
    display: block;
    top: 7px;
  }

  .lf-header-menu__mb-nav {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1340px) {
  .menu-item-lv-1 > a {
    font-size: calc(8px + 0.92vw);
  }
}

@media (max-width: 991px) {
  /* .hamburger-icon {
      opacity: 1;
      visibility: visible;
    } */

  .lf-header-nav__title-mb {
    display: block;
    padding: 10px 0;
    font-size: 21px;
    min-height: 44px;
  }

  .lf-header-nav__list .menu-item-lv-1 {
    display: none;
  }

  .lf-header-nav__list .menu-item-lv-1.drop-sub-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .header-side {
    width: 90%;
  }
}

@media (min-width: 1099px) {
  .sub-menu-mb {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .sub-menu-pc {
    display: none !important;
  }
}

.intro-limited {
  position: relative;
}

.img-limited {
  width: 100%;
  height: auto;
}

.title-limited {
  position: absolute;
  top: 20%;
  left: 10%;
  font-weight: 600;
  font-size: 128px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background: linear-gradient(93.04deg, #c9ab7c 19.81%, #ead7a3 74.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display2 {
  display: none;
}

@media (max-width: 991px) {
  .title-limited {
    left: 0;
    right: 0;
    text-align: center;
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  .display {
    display: none;
  }

  .display2 {
    display: block;
  }
}

/*-------------*/

.bg-limited {
  background-image: url(../images/Limited-Edition/img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.img-limited2 {
  padding: 60px 0;
}

.list-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-img img {
  width: 33.33%;
  height: auto;
}

/*Nơi hội tụ nghệ thuật và văn hóa */

.content-limited {
  margin-top: 60px;
}

.title-limited2 {
  font-family: "Karloff_Positive";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}

.text-limited {
  font-family: "Greta";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  padding: 0 90px;
}

.content-limited2 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.content-limited2 img {
  width: 40%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.content-limited3 {
  margin-top: 20px;
}

.content-limited3 img {
  padding: 30px;
}

.title-limited3 {
  font-family: "Karloff_Positive";
  font-weight: 700;
  font-size: 24px;
}

/*slider product*/

.carousel_1 {
  position: relative;
}

.owl-nav {
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.owl-dots {
  margin-top: 20px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: unset;
}

.content-limited4 {
  align-items: center;
}

.content-limited5 {
  padding-left: 18%;
}

.title-limited4 {
  font-family: "Karloff_Positive";
  font-weight: 700;
  font-size: 35px;
  text-align: left;
}

.text-limited2 {
  font-family: "Greta";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 30px;
}

@media (max-width: 1400px) {
  .btn-prev img,
  .btn-next img {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .content-limited3 img {
    padding: 20px;
  }

  .content-limited5 {
    padding-left: 0;
  }
}

@media (max-width: 740px) {
  .text-limited {
    padding: 0;
  }

  .content-limited2 img {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .img-limited2 {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .list-img {
    display: unset;
  }

  .list-img img {
    width: 100%;
    height: auto;
  }

  .item img {
    padding: 60px;
  }

  .owl-nav {
    top: 35%;
    padding: 0 10px;
  }

  .text-limited {
    text-align: justify;
  }

  .content-limited2 img {
    width: 100%;
    padding: 0 20px;
  }
}

/*Trân phẩm hoàng gia*/

.bg-limited2 {
  background-color: #011f39;
  text-align: center;
  color: white;
}

.list-img2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-img3:nth-child(1) img {
  margin-bottom: 30px;
}

.content-limited6 {
  margin-top: 60px;
  margin-bottom: 100px;
}

.text-limited3 {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .list-img2 img {
    width: 35%;
  }
}

@media (max-width: 450px) {
  .list-img2 img {
    width: 45%;
  }

  .list-img3:nth-child(1) img {
    margin-top: 30px;
  }
}

/*2023 festive home bar*/

.bg-limited3 {
  background-image: url(../images/Limited-Edition/img22.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 30px 20px;
}

.bg-limited4 {
  background-color: #1e0f0b;
  color: white;
  padding: 45px 25px;
}

.bg-limited4 h2,
.bg-limited4 h3,
.bg-limited4 h4 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.bg-limited4 h2 {
  color: #4358a2;
  font-size: 50px;
}

.bg-limited4 h3 {
  color: white;
  font-size: 30px;
}

.bg-limited4 h4 {
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 25px;
}

@media (max-width: 360px) {
  .bg-limited4 h2 {
    font-size: 40px;
  }

  .bg-limited4 h3 {
    font-size: 25px;
  }
}

/*footer*/

.bg-footer {
  background-color: #101726;
  text-align: center;
  position: relative;
}

.bg-footer h2 {
  color: white;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0;
}

.img-footer,
.img-footer3 {
  width: 30%;
}

.img-footer {
  position: absolute;
  top: 0;
  left: 0;
}

.img-footer3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-footer2 {
  padding: 90px 0;
}

.img-footer2 img {
  width: 250px;
  margin-bottom: 40px;
}

.display4 {
  display: none;
}

@media (max-width: 1400px) {
  .img-footer2 {
    padding: 40px 0;
  }
}

@media (max-width: 991px) {
  .img-footer,
  .img-footer3 {
    width: 100%;
  }

  .img-footer2 {
    padding: 350px 0;
  }

  .display3 {
    display: none;
  }

  .display4 {
    display: block;
  }
}

@media (max-width: 450px) {
  .img-footer2 {
    padding: 200px 0;
  }

  .img-footer2 img {
    width: 45%;
  }

  .bg-footer h2 {
    font-size: 28px;
  }

  .img-footer,
  .img-footer3 {
    width: 100%;
  }
}
