@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/static/Montserrat-Bold.ttf");
}

body,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: "Montserrat";
}

ul,ol,li {
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

select:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

p {
	font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat-bold";
}

