.bg-new {
	margin-top: 60px;
}

.bg-new2 {
	margin-top: 40px;
}

.content-news {
	position: relative;
}

.ccc-favorite-post-toggle > a {
	font-size: 22px;
    color: silver;
}

.img-intro2 img {
	width: 100%;
	height: 393px;
	object-fit: cover;
	object-position: left;
	border-radius: 7px;
}

.img-intro img,
.video-intro iframe {
    width: 100%;
    height: 221px;
    border-radius: 10px;
    object-fit: cover;
}

.title-news {
	background: linear-gradient(0deg, #D9D9D9 0%, #30A0E0 0.17%, rgba(153, 195, 220, 0.377376) 39.96%, rgba(217, 217, 217, 0) 87.01%);
	border-radius: 7px;
	width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    padding: 25px;
}

.text-news {
	font-weight: 500;
	font-size: 14px;
	color: #30A0E0;
	font-weight: bold;
	margin-bottom: 0;
}

.text-news2 {
	font-weight: 600;
	font-size: 24px;
	color: white;
}

.text-news2:hover {
	color: white;
}


.title-news2 {
	margin-top: 15px;
}

.text-news3 {
	font-family: "Montserrat-bold";
	font-weight: bold;
	font-size: 20px;
	color: black;
	margin-top: 8px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-news3:hover {
	color: black;
}

.date-author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.text-news4 a {
	font-weight: 500;
	font-size: 14px;
	color: #8F8F8F;
}

.text-news5 {
	font-weight: 600;
    font-size: 15px;
    color: black;
}

@media(max-width: 1400px) {
	.img-intro2 img {
		height: 338px;
	}
}

@media(max-width: 1200px) {
	.img-intro2 img {
		height: 283px;
	}
}

@media(max-width: 991px) {
	.content-news {
		margin-bottom: 30px;
	}

	.img-intro2 img,
	.img-intro img {
		height: auto;
	}

	.video-intro iframe {
		height: 430px;
	}

	.text-news3 {
		font-size: 22px;
		height: unset;
		overflow: unset;
	    text-overflow: unset;
	    -webkit-line-clamp: unset;
	    display: -webkit-box;
	    -webkit-box-orient: unset;
	}
}

@media(max-width: 450px) {
	.text-news2 {
		font-size: 15px;
	}
	
	.text-news3 {
		font-size: 18px;
	}
}


/*gần đây nhất*/

.geometry {
	display: flex;
	align-items: center;
}

.geometry img {
	width: 40px;
    padding-top: 20px;
}

.text-recently {
    font-weight: 700;
    font-size: 36px;
    color: black;
    padding-left: 30px;
    position: relative;
    width: 100%;
}

.text-recently::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: -10px;
    background: #FFB308;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
}

.content-recently {
	position: relative;
}

.img-news img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 7px;
}

.img-save2 {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.text-recently2 {
	line-height: 1;
}

.text-recently2 a {
	font-family: "Montserrat-bold";
	font-weight: 600;
	font-size: 24px;
	color: black;
}

.text-recently3 {
	font-weight: 400;
	font-size: 16px;
	color: #464646;
	margin-bottom: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-categories {
	margin-top: 8px;
	margin-bottom: 4px;
}

.post-categories a {
	font-weight: 500;
    font-size: 14px;
    color: #30A0E0;
    font-weight: bold;
}

.text-recently4 {
	font-weight: 700;
    font-size: 36px;
    color: black;
    position: relative;
    right: 20px;
    top: 12px;
}

.text-recently7 {
	right: 45px;
}

.bg-new3 {
	padding-left: 55px;
}

.bg-new4 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.text-recently5 {
	font-family: "Montserrat-bold";
    font-weight: bold;
	font-size: 20px;
	color: black;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-recently5:hover {
	color: black;
}

.text-recently6 {
	margin-top: 10px;
}

.line-post {
	padding-bottom: 50px;
	border-bottom: 0.5px dashed #30A0E0;
}

@media(max-width: 1200px) {
	.text-recently {
		width: 100%;
	}
}

@media(max-width: 991px) {
	.content-recently {
		margin-bottom: 10px;
	}

	.geometry {
		margin-top: 30px;
	}

	.text-recently2 {
		margin-top: 15px;
	}

	.bg-new3 {
		margin-top: 20px;
		padding-left: calc(var(--bs-gutter-x)/ 2);
	}

	.text-recently5 {
		font-size: 22px;
	}
}

@media(max-width: 896px) {
	.bg-new4 {
		margin-top: 20px;
		margin-bottom: 35px;
	}
}

@media(max-width: 450px) {
	.text-recently {
		width: 80%;
	}

	.text-recently2 a {
		font-size: 18px;
	}

	.text-recently::before {
		width: 50px;
		height: 50px;
		bottom: 30px;
	}

	.text-recently4 {
		font-size: 30px;
	}

	.text-recently5 {
		font-size: 18px;
	}
	
	.post-categories a {
	    font-size: 14px;
	}
}

/*lifestyle*/


.lifestyle {
	margin-top: 10%;
}

/*banner quảng cáo*/

.bg-banner {
	margin-top: 8%;
}

.content-banner {
	position: relative;
}

.text-banner {
    width: 70%;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    position: absolute;
    top: 5%;
    left: 6%;
}

.content-banner2 {
	position: absolute;
	top: -4%;
    right: -7%;
}

@media(max-width: 1200px) {
	.text-banner {
		font-size: 28px;
		top: 15%;
	}
}

@media(max-width: 991px) {
	.content-banner2 {
		top: -2%;
    	right: -2%;
	}
}

@media(max-width: 450px) {
	.content-banner2 {
		right: 0;
	}
}

/*Sức khoẻ tinh thần*/

.health {
	margin-top: 6%;
}

/*thông báo bài viết mới*/
.bg-notification {
	background: #30A0E0;
	text-align: center;
	padding: 50px 0;
}

.text-notification {
	font-weight: 700;
	font-size: 24px;
	color: white;
}

.form-notification {
	margin-top: 20px;
}

.form-notification form {
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.form-notification input {
	height: 50px;
	font-size: 15px;
	border: none;
	border-radius: 15px;
	padding-left: 12px;
	color: #A8A8A8;
	font-family: "Montserrat";
}

.contact-home {
	width: 484px;
}

#submit-contact {
	font-family: "Montserrat-bold";
	background: #FFB308;
	border-radius: 15px;
	font-weight: 700;
	font-size: 20px;
	color: #053814;
	padding: 0 60px;
    border: none;
}

@media(max-width: 1400px) {
	.form-notification form {
		width: 60%;
	}

	.contact-home {
		margin-right: 8px;
	}
}

@media(max-width: 1180px) {
	.form-notification form {
		width: 74%;
	}
}

@media(max-width: 991px) {
	.form-notification form {
		width: 93%;
	}
}

@media(max-width: 740px) {
	.form-notification form {
		display: unset;
	}

	#submit-contact {
		margin-left: 15%;
	}

	.contact-home {
		width: 100%;
	}
}

@media(max-width: 450px) {
	#submit-contact {
		margin-left: 22%;
	}
}

@media(max-width: 393px) {
	.form-notification input {
		width: 100%;
	}

	#submit-contact {
		width: 50%;
	}
}

/*khóa học*/

.bg-course {
	margin-top: 50px;
}

.bg-course img {
	width: 100%;
	height: auto;
}

/*Podcast*/

.img-podcast {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 7px;
}

.img-podcast2 img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}

.img-podcast3 img {
	width: 100%;
	height: auto;
	border-radius: 7px;
	padding: 0 0 20px 20px;
}

.text-podcast {
	display: block;
	width: 100%;
	height: 60px;
	font-weight: bold;
	font-size: 17px;
	color: black;
	line-height: 1.6;
}

.text-podcast2 h1 {
	font-weight: bold;
	font-size: 20px;
	color: black;
	line-height: 1.6;
}

.text-podcast3 {
	padding: 20px 20px 20px 0;
}

@media(max-width: 991px) {
	.img-podcast2 img,
	.img-podcast3 img {
		padding: 0;
		margin-bottom: 20px;
	}

	.text-podcast3 {
		padding: 0;
		margin-bottom: 30px;
	}
}

/*video*/

.text-video {
	font-weight: 600;
	font-size: 25px;
	color: black;
	margin-top: 20px;
}

.video iframe {
	width: 100%;
	border-radius: 7px;
}

.video2 iframe {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	border-radius: 7px;
}

.bg-video {
	align-items: center;
	margin-top: 40px;
}

.advertisement {
	margin-top: 6%;
	margin-bottom: 10%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block;
}

.owl-theme .owl-dots .owl-dot {
	display: none;
}

.owl-prev {
    position: absolute;
    left: -5%;
}

.owl-next {
    position: absolute;
    right: -5%;
}

.owl-prev,.owl-next {
    top: 47%;
    transform: translate(0%, -50%);
}

.btn-prev,
.btn-next {
	font-size: 30px;
	color: #A8A8A8;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: unset;
    color: #A8A8A8;
}

@media(max-width: 991px) {
	.bg-video2 {
		margin-bottom: 30px;
	}

	.text-video {
		font-size: 20px;
	}

	.video2 iframe {
		height: 360px;
	}
}

@media(max-width: 450px) {
	.btn-prev,
	.btn-next {
		display: none;
	}

	.bg-video2 {
		margin-bottom: 60px;
	}
}


/*body trang category*/

.text-cetegory {
	font-weight: 600;
	font-size: 32px;
	color: #30A0E0;
	text-align: center;
	margin: 30px 0;
}

.bg-category {
	margin-top: 6%;
}

.bg-category2 {
	margin-bottom: 50px;
}

/*phân trang*/

.pagination {
	margin-top: 40px;
	margin-bottom: 6%;
	justify-content: end;
}

.pagination a,
.pagination span {
	color: black;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #30A0E0;
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 10px;
}

.pagination span {
	background: #30A0E0;
	color: white;
}

@media(max-width: 991px) {
	.bg-category2 {
		margin-bottom: 10px;
	}
}

/*body trang single*/

.bg-single {
	padding: 0 150px;
}

.text-single {
	font-weight: 500;
	font-size: 15px;
	color: #8F8F8F;
}

.text-single2 {
	font-weight: 700;
	font-size: 40px;
	color: black;
}

.text-single3 p {
    color: #8F8F8F;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.social-single {
	display: flex;
}

.social-single li {
	padding: 5px 10px;
}

.social-single i {
	font-size: 20px;
	color: silver;
}

.social-single2 {
	margin-top: 5px;
}

.social-single3 {
	color: silver;
	font-size: 20px;
}

#save-single {
    padding-left: 60px;
}

.content-single {
    text-align: justify;
    font-family: "Montserrat";
}

.content-single p,
.content-single ol,
.content-single ul {
	font-weight: 400;
	font-size: 15px;
	color: black;
	margin-top: 20px;
	line-height: 1.8;
	padding: 0 150px;
}

.content-single figcaption {
    text-align: center;
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6 {
	padding: 0 150px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 20px;
}

.content-single iframe {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.content-single img,
.content-single figure {
	/*width: 100%;*/
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 7px;
	border-radius: 25px;
}

.content-single div[style] {
	width: 100% !important;
}

.card-single {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #30A0E0;
	margin-top: 60px;
	padding-top: 40px;
}

.card-single a {
	font-weight: 500;
	font-size: 13px;
	color: #959595;
	padding: 8px 10px;
	border: 1px solid #30A0E0;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-right: 10px;
}

.content-share {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 6%;
}

.share-single {
	display: flex;
	align-items: center;
}

.share-single ul {
	margin-left: 10px;
}

.text-share {
	font-weight: 500;
	font-size: 14px;
	color: black;
}

.text-share2 {
	margin-left: 15px;
	margin-right: 65px;
	margin-bottom: 7px;
}

.share-single img {
	margin-bottom: 10px;
}

.bg-related {
	margin-top: 6%;
	margin-bottom: 6%;
}

.related {
	margin-top: 30px;
}

.related2 {
	margin-top: 35px;
}

/*hình avatar */

.avatar-author {
	display: flex;
}

.img-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

@media(max-width: 991px) {
	.content-single iframe {
		height: 387px;
	}
}

@media(max-width: 450px) {
	#save-single {
		padding-left: 15px;
	}

	.content-single iframe {
		height: 290px;
	}
}

/*bình luận*/

.kk-star-ratings .kksr-legend {
	display: none;
}

.kk-star-ratings.kksr-align-left {
	display: none;
}

.rating {
	display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.kk-star-ratings .kksr-stars {
	bottom: 8px;
    left: 10px;
}

.bg-comments {
	background: rgba(217, 217, 217, 0.47);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transform: translateX(100%);
	transition: 0.5s;
}

.activeComment {
	transform: translateX(0%);
}

.bg-comments2 {
	background: white;
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	overflow: scroll;
	padding: 40px;
}

.text-comments {
	font-weight: 600;
	font-size: 36px;
	color: #30A0E0;
	margin-bottom: 20px;
}

.comment-body {
	margin-top: 30px;
}

#reply-title,
.comment-form-comment label,
.logged-in-as,
.says,
.comment-edit-link,
.reply {
	display: none;
}

.comment-form-comment textarea {
	width: 100%;
	border: 1px solid #A8A8A8;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 10px;
}

.url {
	font-weight: bold;
	font-size: 15px;
	color: black;
}

.comment-meta {
	margin: 15px 0;
}

.comment-meta a {
	font-weight: 500;
	font-size: 15px;
	color: #A8A8A8;
}

.submit {
	background: #30A0E0;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px 10px;
}

@media(max-width: 1200px) {
	.text-comments {
		font-size: 30px;
	}

	.content-single p,
	.bg-single,
	.content-single ul,
	.content-single ol,
	.content-single h1,
    .content-single h2,
    .content-single h3,
    .content-single h4,
    .content-single h5,
    .content-single h6 {
		padding: 0 55px;
	}
}

@media(max-width: 1024px) {
	.text-comments {
		font-size: 20px;
	}
}

@media(max-width: 991px) {
	.content-single p,
	.bg-single,
	.content-single ul,
	.content-single ol,
	.content-single h1,
    .content-single h2,
    .content-single h3,
    .content-single h4,
    .content-single h5,
    .content-single h6 {
		padding: 0;
	}

	.text-single2 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.related2 {
		margin-top: 15px;
	}

	.content-share {
		display: unset;
		text-align: center;
	}

	.card-single li {
		margin-bottom: 30px;
	}

	.text-share2 {
		margin-right: 15px;
	}

	.bg-comments2 {
		width: 50%;
	}

}

@media(max-width: 450px) {
	.bg-related {
		margin-top: 18%;
	}

	.text-single2 {
		font-size: 30px;
	}

	.bg-comments2 {
		width: 70%;
		padding: 20px;
	}

	.text-single2 {
		font-size: 25px;
	}
}

/*body sidebar*/

.img-sidebar img {
	width: 100%;
	height: auto;
}

#img-sidebar2 {
	width: 25px;
    position: relative;
    left: 0;
    bottom: 15px;
    z-index: -1;
}

#img-sidebar3 {
	width: 55px;
	position: relative;
    right: 25px;
}

/*body Tag*/

.img-tag {
	width: 40%;
	float: right;
	margin-top: 30px;
}

.text-tag {
	font-weight: 500;
    font-size: 13px;
    color: #959595;
    border: 1px solid #30A0E0;
    border-radius: 15px;
    text-align: center;
    width: 60%;
    padding: 8px 0;
}

.list-tag {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

.list-tag a {
	font-weight: 500;
    font-size: 13px;
    color: #959595;
    border: 1px solid #30A0E0;
    border-radius: 15px;
    padding: 8px 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

@media(max-width: 1400px) {
	.text-tag {
		width: 75%;
	}
}

@media(max-width: 991px) {
	.text-tag {
		width: 35%;
	}
}

@media(max-width: 450px) {
	.text-tag {
		width: 60%;
	}
}


/*body page author*/

.bg-author {
	position: relative;
}

.img-author {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.img-author2 {
	width: 118px;
	height: 118px;
	border: 4px solid #FFFFFF;
	object-fit: cover;
	border-radius: 50%;
}

.banner-author {
	display: flex;
	align-items: center;
	position: absolute;
    top: 0;
    left: 7%;
    bottom: 0;
}

.name-author {
	padding-left: 10px;
}

.name-author h1 {
	font-weight: 600;
	font-size: 24px;
	color: white;
}

.name-author p {
	font-weight: 400;
	font-size: 16px;
	color: white;
}

/*thông tin user*/

.info-author {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(48, 160, 224, 0.5);
	border-radius: 35px;
	padding: 30px;
	padding-top: 50px;
	margin-top: 40px;
}

.info-author h1 {
	color: #30A0E0;
	font-weight: 700;
	font-size: 18px;
	border-bottom: 2px solid #30A0E0;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.info-author p {
	color: #A8A8A8;
	font-weight: 500;
	font-size: 15px;
}

.title-author {
	display: flex;
	align-items: center;
	margin-top: 84px;
}

.title-author h1 {
	width: 100%;
	color: #30A0E0;
	font-weight: 600;
	font-size: 24px;
	border-bottom: 2px solid #30A0E0;
	padding-bottom: 14px;
}

.img-author3 img,
.video-author iframe {
	width: 100%;
	height: 230px;
	border-radius: 15px;
	object-fit: cover;
}

.text-author {
	font-weight: 400;
    font-size: 15px;
    color: #8F8F8F;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media(max-width: 991px) {
	.img-author3 img {
		height: auto;
	}

	.video-author iframe {
		height: 370px;
	}

	.img-author2 {
		width: 50px;
		height: 50px;
	}
}

@media(max-width: 450px) {
	.name-author h1 {
		font-size: 18px;
	}

	.name-author p {
		font-size: 12px;
	}

	.title-author h1 {
		font-size: 20px;
	}
}

/*body trang cộng đồng*/