@font-face {
	font-family: Nunito;
	src:url("../fonts/static/Nunito-Regular.ttf");
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: Nunito;
}

ul,ol {
	list-style: none;
	padding-left: 0;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

select:focus {
	outline: none;
}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/

p,h1,h2,h3,h4,h5,h6 {
	font-family: Nunito;
}
